<style>
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .index-button {
    display: block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 12px;
    border-radius: 4px;
  }
  .section {
    padding: 10px;
  }
  #footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  body {
    background: linear-gradient(to left, #a49b9b, #e6e6e6);
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 5px auto;
  }

  .card-content {
    padding: 20px;
  }

  .card-content h2 {
    margin-top: 0;
    font-size: 24px;
  }

  .card-content h4 {
    color: #007bff;
    margin-bottom: 0px;
  }

  .card-content h4 span {
    color: #ff0000;
    margin-bottom: 0px;
  }

  .card-content p {
    font-size: 16px;
  }

  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #0069d9;
  }

  .form-wrapper {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    flex-grow: 1;
  }

  label {
    display: none;
  }

  button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
  }

  #pay-button {
    display: none;
  }
</style>
